#backgroundImg {
    background-image: url('images/UoBcampus.jpg');
    background-size: cover;
    background-position: center;
    color: #f6f6f7;
    font-family: bold;
    padding: 2rem 1rem;
    text-align: center;
}

#firsth1 {
    font-size: 60px;
    font-weight: bold;
}